<div class="menu">
    <div class="row m-3">
        <div class="col">
            <i class="material-icons text-light pointer" (click)="close.emit(true)">close</i>
        </div>
    </div>
    <div class="row m-3">
        <div class="col-12">
            <i class="material-icons text-light pointer" (click)="action.emit('add')">add</i>
        </div>
        <div class="col-12">
            <i class="material-symbols-outlined text-light pointer" (click)="action.emit('cut')">cut</i>
        </div>
        <div class="col-12">
            <i class="material-icons text-light pointer" (click)="action.emit('copy')">copy</i>
        </div>
        <div class="col-12">
            <i class="material-icons text-light pointer" (click)="action.emit('paste')">paste</i>
        </div>
        <div class="col-12">
            <i class="material-icons text-light pointer" (click)="action.emit('delete')">delete</i>
        </div>
    </div>
</div>
