<div class="menu">
    <div class="mx-3 d-flex flex-column">
        <div>
            <i class="material-icons text-light pointer mt-4" (click)="action.emit('add')">add</i>
        </div>
        <div>
            <i class="material-icons text-light pointer mt-4" (click)="action.emit('edit')">edit</i>
        </div>
        <div>
            <i class="material-symbols-outlined text-light pointer mt-4" (click)="action.emit('cut')">cut</i>
        </div>
        <div>
            <i class="material-icons text-light pointer mt-4" (click)="action.emit('copy')">content_copy</i>
        </div>
        <div>
            <i class="material-icons text-light pointer mt-4" (click)="action.emit('paste')">content_paste</i>
        </div>
        <div>
            <i class="material-icons text-light pointer mt-4" (click)="action.emit('delete')">delete</i>
        </div>
        <div>
            <i class="material-icons text-light pointer mt-4" (click)="action.emit('preview')">preview</i>
        </div>
        <div>
            <i class="material-icons text-light pointer mt-4" (click)="action.emit('upload')">upload</i>
        </div>
        <div>
            <i class="material-icons text-light pointer mt-4" (click)="action.emit('download')">download</i>
        </div>
    </div>
</div>
