.node{ 
    border:solid 1px black;
    padding:15px;
    height:100%
}

.node-preview{
    position: absolute;
    top:55px;
    left:55px;
    margin:10px;
    height: -webkit-fill-available;
    width: -webkit-fill-available;
}