.node{ 
    border:solid 10px darkblue;
    border-right:5px;
    padding:15px;
    height:100%
}

.node-preview{
    border:solid 1px black;
    position: absolute;
    top: 55px;
    left: 67px;
    height: -webkit-fill-available;
    width: -webkit-fill-available;
}